
## IntelliJ ##
# File-based project format
*.iws

# Ignores the whole .idea folder and all .iml files
out/
.idea/*
*.iml
*.ipr

# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

# JIRA plugin
atlassian-ide-plugin.xml

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Scripts that are used to solve exercices
filters/*

npm-debug.log
